<!DOCTYPE html>
<style type="text/css">
#left {
  position: fixed;
  bottom: -4px;
  left: 10px;
}
#right {
  position: fixed;
  bottom: -4px;
  right: 10px;
}
</style>
<html>
 <meta http-equiv="refresh" content="30">
 <style>
.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
</style>
<body>

	<h4 style = "color: black"> Queue
			<ol class="breadcrumb float-right">
					<li class="breadcrumb-item">
						<a href="/admin">
							<i class="fa fa-home"></i>
						</a>
					</li>
					<li class="breadcrumb-item active">
						<a href="/admin">Queue</a>
					</li>
			</ol>
			<div class = "date_dashboard"><font color = "#a3a4a6"><small><span id="datetime"></span></small></font></div>
		</h4>
		<br>
		

<main class="grid">
		<% @barbers.each do |b| %>
			<% customers = b.wait_list %>
  <div class="card bg-light text-dark">

  				<% if customers[0] == nil %> <!-- checks if its empty -->
					<div class="card-body">
					<center><h4 class="card-title"><%= b.name %>  </h4></center>
						<p class="card-text">
						<ul class="list-group list-group-flush">  </ul>
					</p>
				</div>

				 <% else %>
				<div class="card-body">
					<center><h4 class="card-title"><%= b.name %></h4></center>
					<a class="btn" href="/pop/<%= customers[0].id %>" role="button">Next</a> 
					<a class="btn float-right" role="button" data-toggle="modal" data-target="#exampleModalLong">Full List</a> 

					<p class="card-text">

						<ul class="list-group"> 	
					     	<li class="list-group-item list-group-item-success" ><%= customers[0].name %> </li>
					     		<!-- Modal -->
					 <% customers.each do |c| %>
					<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
							    <h5 align = "center" class="modal-title" id="exampleModalLabel"><%= b.name %></h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					     <!--  <div class="modal-body"> -->
					      	<ul class="list-group list-group-flush">
					      		<center>
					      			<li class="list-group-item list-group-item" data-toggle="modal" data-target="#exampleModalLong<%= c.id %>"><%= c.name %> 
					       		 	</li>
					      		</center>
					      		
					      	</ul>
					      <!-- </div> -->
					      	<div class="modal-footer">
							  <!--   <button type="button" class="btn btn-secondary" data-dismiss="modal">		Close
							    </button>
							    <a href="/pop/<%= c.id %>" class="btn btn-primary">Delete</a> -->
							</div>
					    </div>
					  </div>
					</div>
					<% end %>
					     	
					     	
					  </ul>
					</p>
				</div>
				<% end %>

			</div>
	 	<% end %>
</main>


	
	








<div id="left">
	<a href="/sign_in">sign in</a>
</div>
 <div id="right">
	<a href="/sign_out">sign out</a>
</div>


</body>
<script>
		var dt = new Date();
		document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
	</script>
</html>