<!DOCTYPE html>
<style type="text/css">
#sticky {
  width:100%;
  height:80px;
  padding-top:6px;
  color:black;
  text-align:center;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the window*/
  left:0; 
  right: 0;           /*and to the left of the window.*/
}
#left {
  position: fixed;
  bottom: -4px;
  left: 10px;
}
#right {
  position: fixed;
  bottom: -4px;
  right: 10px;
}
</style>
<html>
	<meta http-equiv="refresh" content="30">
<style>
.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  margin-bottom: 9%;
}
.grid > article {
  border: 1px solid #ccc;
  /*box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}
 .card
  {
  /*	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
  }
.card-content{
  	padding: 30px;
  }
</style>
<body>
	<div  class="container" style="width: 1020px;">
	<h4 style = "color: gray"> Queue
	<ol class="breadcrumb float-right" style="background-color: white">
		<li class="breadcrumb-item"><a href="/admin"><i class="fa fa-home" style="color: gray"></i></a></li>
		<li class="breadcrumb-item active"><a href="/admin" style="color: gray">Queue</a></li>
	</ol>
	<div class = "date_dashboard"><font color = "#a3a4a6"><small><span id="datetime"></span></small></font></div>
	</h4>
	<br>
	<main class="grid">
	<% @barbers.each do |b| %>
		<% customers = b.wait_list %>
		<div class="card card-outlin">
			<% if customers[0] == nil %> <!-- checks if its empty -->
				  <div class="card-header"><h5 align="center" style="color: gray"><%= b.name %> </h5> </div>
				  <div class="card-content card-content-padding"></div>
			<% else %>
				  <div class="card-header"><h5 align="center"style="color: gray"><%= b.name %> </h5> </div>
				  <div class="card-content card-content-padding">
				  	<a class="btn" href="/pop/<%= customers[0].id %>" role="button" style="color: gray">Next</a> 
						<a class="btn float-right" role="button" data-toggle="modal" data-target="#exampleModalLong<%= b.id %>"style="color: gray">Full List</a> 
						<p class="card-text">
							<ul class="list-group"> 	
								<li class="list-group-item list-group-item-success" ><%= customers[0].name %>
									<img align="right" src="https://img.icons8.com/android/24/000000/barber-chair.png">
								</li>
							</ul>
						</p>

				  </div>
				  <% end %>	
				</div>
		<% end %>
	</main>
	<div>
		<!-- Modal -->
		<% @barbers.each do |b| %>
			<% customers = b.wait_list %>			      	
				<div class="modal fade" id="exampleModalLong<%= b.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 align = "center" class="modal-title" id="exampleModalLabel"style="color: gray"><%= b.name %></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<!--  <div class="modal-body"> -->
							<ul class="list-group list-group-flush">
							<% customers.each do |c| %>					      	
							<li class="list-group-item list-group-item" data-toggle="modal" data-target="#exampleModalLong<%= c.id %>">
								<a href="/pop/<%= c.id %>" class="btn float-right" role="button"><i class="fas fa-trash-alt"style="color: gray"></i></a>
								<font class=" text float-left"style="color: gray"><%= c.name %></font>		
							</li> 					      		
							</ul>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
	</div>
</body>
</div>
<script>
	var dt = new Date();
	document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
</html>