<!DOCTYPE html>
<html>
<head>
	<title>Barber Select</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style type="text/css">
.card-deck{
  margin-left: 40px;
  margin-right: 40px; 
}
.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
}
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.card2:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-color: green;
}
.card2{
  border-radius: 0;
}
</style>
</head>
<body>



<main class="grid2">
  <div class="card-deck">
    <div class="container">
      <article class="card-body">
        <h1 class="card-title text-center mb-4 mt-1"><%= @shopName %> Professionals</h1>
        <hr>
        <p class="text-success text-center">Call or text to check for availability and set up an appointment.</p>
        <hr>
	      <main class="grid">
          <% @barbers.each do |b| %>
            <!-- <a href="/appointments/stylistAvailability/<%= @id %>/<%= b.id %>/<%= b.name %>"> -->

              <div class="card2 bg-light text-dark">
                <div class="card-body">
                  <h5 class="card-title" align="center"><%= b.name %></h5>
                  <div><i class="fas fa-mobile-alt"></i>  <%= b.phone %></div>
                  <div><i class="fab fa-twitter"></i>  <%= b.twitter %></div>
                  <div><i class="fab fa-instagram"></i>  <%= b.insta %></div>
                  <div><i class="fab fa-snapchat-ghost"></i>  <%= b.snap %></div>
                </div>
              </div>
            <!-- </a> -->
          <% end %>
        </main>
        <br>
        <div style="overflow:auto;" align="center">
          <button class="btn btn-dark" onclick="goBack()">Back</button>
        </div>
      </article>
    </div>
  </div>
</main>
</body>
</html>

<script>
function goBack() {
  window.history.back();
}
</script>