<!DOCTYPE html>
<html>
<head>
	<title>Service Choice</title>
<style type="text/css">
.card-deck{
  margin-left: 40px;
  margin-right: 40px; 
}
</style>
</head>
<body>
  <center>
    <h1><%= @shopName %> Services</h1>
  </center>
  <div class="container">
    <form action="/appointments/payment/<%= @id %>" method="POST">
      <hr>
      <p class="text-success text-center">Choose the services you wish to receive during your visit.</p>
      <hr>
      <div>
        <select class="custom-select" name="hairtype" list="Hair"  style="font-style:italic" required="">
          <option value="" disabled selected>Hair Service</option> 
          <% @hairtypes.each do |h| %>
            <option value= "<%= h.id %>"><%= h.hair_type %>: $<%= h.price %></option>
          <% end %> 
          <option value="0">N/A</option>
        </select>
      </div>
      <br>

      <div>
        <select class="custom-select" name="beardtype" list="Hair"  style="font-style:italic" required="">
          <option value="" disabled selected>Beard Service</option>
          <% @beardtypes.each do |b| %>
            <option value="<%= b.id %>"><%= b.hair_type %>: $<%= b.price %></option>
          <% end %>
          <option value="0">N/A</option>
        </select>
      </div>
      <br>

      <div>
        <select class="custom-select" name="extratype" list="Extra"  style="font-style:italic" required="">
          <option value="" disabled selected>Extra Services</option>
          <% @extra.each do |b| %>
            <option value="<%= b.id %>"><%= b.name %>: $<%= b.price %></option>
          <% end %>
          <option value="0">N/A</option>
        </select>
      </div>
      <br>
      <div style="overflow:auto;" align="center">
        <button class="btn btn-dark" onclick="goBack()">Back</button>
        <button type="Submit" class="btn btn-dark">Next</button>
      </div>
    </div>
  </form>
</body>
</html>

<script>
function goBack() {
  window.history.back();
}
</script>