
<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" href="/stylesheet/dashboard.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
<style>
.card-header{
	color:gray;
}
.card-content
{
	color:gray;
}
.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  margin-bottom: 5%;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
  .card
  {

  	/*box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
  }
  .card-content{
  	/*background-color: white;*/
  	padding: 30px;
  }


</style>

</head>
<body >

	<% moneyToday = 0%>
	<% customersToday = 0%>
	<% @barbers.each do |b| %>
	<% moneyToday += b.money %>
	<% customersToday += b.total %>
	<%end%>


	<div  class="container" style="width: 1020px;">
	<h4 style="color: gray;"> Dashboard 
		<ol class="breadcrumb float-right" style="background-color: white; ">
			<li class="breadcrumb-item" ><a href="/admin"><i class="fa fa-home" style="color: gray;"></i></a></li>
			<li class="breadcrumb-item active" style="color: gray"><a href="/admin" style="color: gray">Dashboard</a></li>
		</ol>
		<div class = "date_dashboard"><font color = "#a3a4a6"><small><span id="datetime"></span></small></font></div>
	</h4>
	<br>

	<div class="card card-outline ">
		<form action="/admin" method="GET">
  <div class="card-header"><h3 align="center" class="split-para">Revenue Report</h3></div></form>
  <div class="card-content card-content-padding">
	  <form action="/admin/report" method="POST">
	 <div align="right"> <button type="submit" class="btn btn-primary" style="height: 45px;"><i class="material-icons" style="font-size:30px;">&#xe5d5;</i></button></div>
		
	 <div class="row" >
		<div class="container" align ="center">

			<div class="d-inline-flex p-2" >
						<div class="input-group mb-3" >
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
							</div>
							<input type="date" id="input" class="form-control" aria-describedby="basic-addon1" name="startDate" required>
						</div>
			</div>
			<div class="d-inline-flex p-2">
					<div class="input-group mb-3" >
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
						</div>
						<input type="date" id="input" class="form-control" aria-describedby="basic-addon1" name="endDate" required>
					</div>
			</div>
		</div>
		</div>

		  <div align="center"><button type="submit" class="btn btn-primary btn-block" style="width:375px;">Submit</button></div>
		  <br> 
		  <div class="container" style="width:560px;" align="center">
				What is a Revenue Report?
				<font class =" text-primary"> 
					A revenue report helps you see how your shop is doing. You get an easy managable date picker just pick a start date and an end date.
				</font>
			</div>
		</form>
  </div>
</div>
<hr>

	<div class="card card-outline ">
  <div class="card-header"><h3 align="center"><%= current_user.email %></h3> </div>
  <div class="card-content card-content-padding">
  	<i class="fas fa-dollar-sign"></i>
	<font color="green"> Revenue:<font color="gray"> $<%= @revenue %>.00 </font></font>
	<br>
	<i class="fas fa-user-alt"></i>
	<font color = " red"> Customers:<font color="gray"> <%= @customers %></font></font>
  </div>
</div>

	<hr>
	<main class="grid">
		<% @barbers.each do |b| %>
		<div class="card card-outline ">
		  <div class="card-header"><h5 align="center"><%= b.name %> </h5> </div>
		  <div class="card-content card-content-padding">
		  	<i class="fas fa-dollar-sign"></i>
			<font color="green">Revenue:<font color="gray"> $<%= b.money%>.00 </font></font>
			<br>
			<i class="fas fa-user-alt"></i>
			<font color = " red">Customers:<font color="gray"> <%= b.total %></font></font>
		  </div>
		</div>
		<% end %>
	</main>
	</div>
</body>
<script>
	var dt = new Date();
	document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<script>
$.ajax({
    url:'/admin/addbarber',
    data: params,
    type:'POST',
    beforeSend: function() {
        alert("loading")
    },
    success:function(html){ alert(html) }
}); 
</script>
</html>