<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheet/services.css">
</head>
<body>
	<h4 style = "color: black">Services 
			<ol class="breadcrumb float-right">
					<li class="breadcrumb-item">
						<a href="/admin">
							<i class="fa fa-home"></i>
						</a>
					</li>
					<li class="breadcrumb-item active">
						<a href="/admin/updateprice">Services</a>
					</li>
			</ol>
		<div class = "date_priceupdate"><small><span id="datetime"></span></small></div>
</h4>

<br>

<div class="card bg-light text-dark">
   	<div class="card-body">
		<div>
			<h5 align="center">Hair</h5>
		</div>
		<div>
			<ul style="list-style: none;" class="list-group">
				<% @haircuts.each do |h| %>
					<form action="/admin/updateprice/<%= h.id %>" method="PATCH">
				   			<%= h.hair_type %>:   $<%= h.price %>


				   			<input type ="submit" name = "Submit" value="Update Price" style="float: right;">
				   			<input size="20" type = "text" name = "price" placeholder="Enter new price" style="float: right;">
				   			<hr>

 				   	</form>
			 	<% end %>
			</ul>
		</div>
		<br>
		<div>
			<h5 align="center">Beard</h5>
		</div>
		<div>
			<ul style="list-style: none;" class="list-group">
				<% @beards.each do |b| %>
					<form action="/admin/updateprice/<%= b.id %>" method="PATCH">

				   			<%= b.hair_type %>:   $<%= b.price %>
				   			<input type ="submit" name = "Submit" value="Update Price" style="float: right;">
				   			<input size="20" type = "text" name = "price" placeholder="Enter new price" style="float: right;">
				   			<hr>
				   	</form>
			 	<% end %>
			</ul>
		</div>	
	</div>
</div>
</body>
<script>
	var dt = new Date();
	document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
</html>

