<!DOCTYPE html>
<style type="text/css">
<style>
.card-header{
	color:gray;
}
.card-content
{
	color:gray;
}
.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  margin-bottom: 5%;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
  .card
  {

  	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
  .card-content{
  	/*background-color: white;*/
  	padding: 30px;
  }
</style>

<body>
	<h4 style = "color: black">Appointments
	<ol class="breadcrumb float-right">
		<li class="breadcrumb-item"><a href="/admin"><i class="fa fa-home"></i></a></li>
		<li class="breadcrumb-item active"><a href="/admin">Appointments</a></li>
	</ol>
	<div class = "date_dashboard"><font color = "#a3a4a6"><small><span id="datetime"></span></small></font></div>
	</h4>
	<br>
	<main class="grid">
	<% @appointments.each do |b| %>
		<div class="card card-outline ">
			<div class="card-header"><h5 align="center"><%= b.name %></h5></div>
			<div class="card-body">
				<p class="card-text">
					<ul class="list-group" style="list-style: none;"> 	
						<li>Barber: <%= b.barberName %></li>
						<li>Scheduled For: <%= b.date %></li>
						<% if b.time.to_i < 12 %>
							<li>Time: <%= b.time %> A.M.</li>
						<% elsif b.time.to_i == 12 %>
							<li>Time: <%= b.time %> P.M.</li>
						<% else %>
							<% a = b.time.to_i - 12 %>
							<li>Time: <%= a %>:00 P.M.</li>
						<% end %>
						<li>Cost: $<%= b.cost %>.00</li>
						<li>Hair: <%= b.hairID %></li>
						<li>Beard: <%= b.beardID %></li>
						<li>Extra: <%= b.extraID %></li>
					</ul>
					<a class="btn float-right" role="button" data-toggle="modal" data-target="#exampleModalLong<%= b.id %>"><i class="fas fa-trash"></i></a> 
				</p>
			</div>
		</div>
	<% end %>
	</main>
	<div>
		<!-- Modal -->
		<% @appointments.each do |b| %>
			<div class="modal fade" id="exampleModalLong<%= b.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				<form action="/admin/deleteAppointment/<%= b.id %>" method="PATCH">
			  		<div class="modal-dialog" role="document">
			    		<div class="modal-content">
			      			<div class="modal-header">
			        			<h5 class="modal-title" id="exampleModalLabel"><%= b.name %></h5>
			        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          				<span aria-hidden="true">&times;</span>
			        			</button>
			      			</div>
			      			<div class="modal-body">
			      				Remove this appointment from record?
			      			</div>
			      			<div class="modal-footer">
			        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        			<button name="Submit" value="Delete" type="submit" class="btn btn-dark" style="float: right;">Delete</button>
			      			</div>
			    		</div>
			  		</div>
				</form>
			</div>
		<% end %>
	</div>
</body>
<script>
	var dt = new Date();
	document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
</html>